.content {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    height: 80vh;
    // overflow: hidden;
}
.content-left {
    flex: 2;
    min-width: 40%;
    height: 500px;
}
.content-left > h1 {
    font-size: 75px;
    font-weight: 800;
    line-height: 75px;
}
.content-left > p {
    font-size: larger;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
}
.content-left > button {
    background-color: #073042;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}
.content-left > button:hover {
    color: lightgreen;
}
.content-right {
    flex: 3;
    background-color: salmon;
    height: 500px;
}
.content-right > img {
    height: 400px;
}
.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.red {
    background-color: #fef0eb;
}
.blue {
    position: inherit;
    right: 0;
    top: 100px;
    background-color: #d7effe;
}
.green {
    background-color: #eff7cf;
}