.navbar {
    height: 70px;
}
.navbar-brand {
    color: black;
    margin-right: 3px;
}
a:hover {
    color: black;
}
.navbar-left {
    font-weight: 645;
    height: 30px;
}
.navbar-left > img {
    height: 100%;
}
.banner-links, .mobile-hidden {
    cursor: pointer;
    list-style: none;
    gap: 20px;
}
.mobile-hidden {
    font-size: 13px;
    font-weight: 500;
    gap: 40px;
    // margin-right: 40px;
}
.mobile-hidden > li:hover{
    color: rgb(124, 124, 124);
}




@media(max-width: 1024px) {
    .mobile-hidden {
        font-size: 0px;
    }
}
@media(min-width: 1025px) {
    .hamburger {
        display: none;
    }
}